<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- FRAGMENTO MODAL -->
    <div th:fragment="modal" id="modalConfirmacion" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Reserva confirmada</h2>
            <p>Tu reserva se ha procesado correctamente 🎉</p>
            <div class="modal-actions">
                <button id="cerrarModal" class="btn volver-btn">Cerrar</button>
            </div>
        </div>
    </div>
</body>
</html>
